<?xml version="1.0" encoding="utf-8"?>
<Config>
   <Mail default="jwarnes@samaritan.org" recipients="">
</Mail>
   <Servers>
      <Server name="Server 1" spaceValue="2" spaceType="0">
         <Folder path="C:\Backups" recurse="0" />
         <Folder path="C:\BackupsSub" recurse="1" />
      </Server>
   </Servers>
</Config>